.ContentImagesContainer
{
	background-color:#EEEEEE;
	padding:3%;
}
.ContentImages
{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
	padding:0.5%;
	width:40%;
	height:40%;
	background-color:white;
}

.ContentImagesNoResize
{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
	padding:0.5%;
	background-color:white;
}